In [364]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing
from sklearn import metrics

In [365]:
df = pd.read_csv('manual_encoded.csv').drop('Unnamed: 0',axis=1)

#removing space from computer science
df['education'] = df['education'].apply(lambda x: 'computer science' if x=='computer science ' else x)
df['education_label'] = df['education_label'].apply(lambda x: 1 if x==0 else x)
df['education_label'] = df['education_label'].apply(lambda x: x-1)

In [366]:
df.head(10)

,age,education,duration,no_company_10,no_job_positions,senior,manager,linkedin link,gender_F,gender_M,education_label
0,35,science,3.0,3,5.0,1,1,NaN,0,1,3
1,30,computer science,1.0,4,2.0,1,0,https://www.linkedin.com/in/mojan-benham/,1,0,0
2,33,computer science,1.0,5,2.0,1,1,https://www.linkedin.com/in/diveshkmr/,0,1,0
3,27,computer science,2.0,4,3.0,1,1,https://www.linkedin.com/in/jessicamcginnis/,0,1,0
4,36,science,1.0,10,3.0,1,1,https://www.linkedin.com/in/delaneymanders/,1,0,3
5,40,science,3.0,2,3.0,1,1,https://www.linkedin.com/in/chrisbildfell/,0,1,3
6,42,computer science,0.5,10,1.0,1,1,https://www.linkedin.com/in/polinsky/,1,0,0
7,32,other,1.0,3,1.0,1,0,https://www.linkedin.com/in/yr-ryanli/,0,1,2
8,35,computer science,5.0,7,6.0,1,0,https://www.linkedin.com/in/solmazshahalizadeh/,1,0,0
9,28,engineering,2.0,2,2.0,1,0,https://www.linkedin.com/in/ian-whitestone-a20...,0,1,1

In [367]:
def change_label_to_educ(row):
    if row == 0:
        row = 'computer science'
    elif row == 1:
        row = 'engineering'
    elif row == 2:
        row = 'other'
    else:
        row='science'
        
    return row

In [368]:
df.drop(['education','linkedin link'],axis=1,inplace=True)
df.dropna(how='any',inplace=True)

In [369]:
# def data_prepare(df):
#     df.drop(['name','current_job'], axis=1,inplace=True)
    
#     #one hot encoder for genders
#     dummies = pd.get_dummies(df[['gender']])
#     df = pd.concat([df,dummies],axis=1)
#     df.drop('gender',axis=1,inplace=True)
    
#     #label encoding education
#     label_encoder = preprocessing.LabelEncoder()
#     df['education_label'] = label_encoder.fit_transform(df['education'])
    
    
#     return df

In [370]:
def logistic_regression(df):
    
    df = df.sample(frac=1)
    #getting the x and y from the data
    x_df = df.drop(columns=['manager','senior'],axis=1)
    print(x_df.head(5))
    y_df = df[['manager']]
    #dividing into test and train
    X_train, X_test = x_df.iloc[:125], x_df.iloc[125:]
    y_train, y_test = y_df.iloc[:125], y_df.iloc[125:]
    
    #removing gender
    gender_test = x_df[['gender_F','gender_M']].iloc[125:].reset_index().drop('index',axis=1)
    education_test = x_df['education_label'].iloc[125:].reset_index().drop('index',axis=1)
    #Normalizing the data
    scaler = preprocessing.StandardScaler().fit(X_train)
    X_train_transformed = scaler.transform(X_train)
    X_test_transformed = scaler.transform(X_test)
    
    #Creating the cross validation and training
    clf = LogisticRegressionCV(cv=2, random_state=0).fit(X_train_transformed,y_train)
    
    #predicting
    y_predicted = clf.predict(X_test_transformed)
    accuracy = metrics.accuracy_score(y_test, y_predicted)
    
    #predict the probability
    y_probability = clf.predict_proba(X_test_transformed)
    
    print("The accuracy is: ", accuracy)
    
    
    #making dataframe of everything
    pre_df = pd.DataFrame(y_predicted,columns=['Manager'])
    prob_df = pd.DataFrame(y_probability,columns=['False','True'])
    final_result = pd.concat([gender_test,education_test,prob_df,pre_df],axis=1)
    
    return clf,final_result

In [371]:
final_result_non_labeled = final_result.copy(deep=True)
final_result_non_labeled['education_label'] = final_result['education_label'].apply(change_label_to_educ)

In [372]:
def predict(clf, age, duration, no_company, no_job, gender_F, gender_M, education):
    if education == 'science':
        education_label = 3
    elif education == 'computer science':
        education_label = 0
    elif education == 'other':
        education_label = 2
    elif education == 'engineering':
        education_label = 1
    
    x = [age,duration, no_company, no_job, gender_F, gender_M,education_label]
    x = np.array(x)
    y = clf.predict(x.reshape(1,-1))
    
    return y

In [373]:
y = predict(model, 20, 0, 0, 1, 1, 0, 'other')

In [374]:
print(y)

[1]